[Unit]
Description=Monitors the environment Sensor and uploads data to AWS IoT.
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/bgfsensormon/main.py /opt/bgfsensormon/sensor_config.txt
[Install]
WantedBy=multi-user.target